* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #fff;
}

.app-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #363795);
  padding: 0 80px;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.logo {
  height: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  transition: opacity 0.3s;
}

.navbar a:hover {
  opacity: 0.8;
}

.btn-entrar {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn-entrar:hover {
  background-color: #fff;
  color: #000000;
}

.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome-text {
  font-weight: bold;
  font-size: 18px;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

.btn-whatsapp {
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content; /* O botão se ajusta ao conteúdo */
  transition: transform 0.3s;
}

.btn-whatsapp:hover {
  transform: scale(1.05);
}


.hero-image-container {
  width: 450px;
  height: 450px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image-container img {
  max-width: 80%;
  height: auto;
}